/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/ext_power.h>

#define L_BASE 0
#define L_LOWER 1
#define L_RAISE 2
#define L_ADJUST 3
#define L_DVORAK 4

#define _______ &trans

/ {
  keymap {
    compatible = "zmk keymap";
    default_layer {
      bindings = <
&kp ESC           &kp Q    &kp W    &kp E    &kp R    &kp T                                     &kp Y    &kp U    &kp I     &kp O    &kp P    &kp BSLH
&kp LCTL          &kp A    &kp S    &kp D    &kp F    &kp G                                     &kp H    &kp J    &kp K     &kp L    &kp SEMI &kp APOS
&mt SHIFT LPAR    &kp Z    &kp X    &kp C    &kp V    &kp B                                     &kp N    &kp M    &kp COMMA &kp DOT  &kp FSLH &mt SHIFT RPAR
                                &kp LGUI &lt L_LOWER TAB &kp SPC         &kp BSPC &lt L_RAISE ENT &kp RALT
      >;
    };
    lower_layer {

      bindings = <
&kp GRV &kp EXLM &kp AT   &kp HASH &kp DLR  &kp PERC                                     &kp ASTR &kp 7    &kp 8    &kp 9    &kp PPLS   _______
_______ &kp CIRC &kp AMPR &kp UNDS &kp LBRC &kp RBRC                                     &kp SLSH &kp 4    &kp 5    &kp 6    &kp MINS   _______
_______ &kp SCLN &kp LT   &kp GT   &kp LCBR &kp RCBR                                     &kp 0    &kp 1    &kp 2    &kp 3    &kp PEQL   _______
                                _______ _______ _______                  _______   &mo L_ADJUST _______
      >;
    };

    raise_layer {
      bindings = <
_______ _______ _______ _______ _______ _______                                  _______ _______ _______ _______ _______   &kp PGUP
_______ _______ _______ _______ _______ _______                                 &kp LEFT &kp DOWN &kp UP &kp RGHT &kp HOME &kp END
_______ _______ _______ _______ _______ _______                                  _______ _______ _______ _______ _______   &kp PGDN
                                _______   &mo L_ADJUST _______           _______ _______ _______
      >;
    };
    adjust_layer {
      bindings = <
&reset           &tog L_DVORAK    &tog L_BASE      &ext_power EP_TOG  &out OUT_TOG    &bt BT_NXT                                 &reset  &none        &none      &none        &kp K_VOL_UP   &kp KP_NUM
&rgb_ug RGB_TOG  &rgb_ug RGB_HUI  &rgb_ug RGB_SAI  &rgb_ug RGB_BRI    &rgb_ug RGB_SPI &bt BT_CLR                                 &none   &none        &none      &none        &kp K_MUTE     &kp CAPS
&rgb_ug RGB_EFF  &rgb_ug RGB_HUD  &rgb_ug RGB_SAD  &rgb_ug RGB_BRD    &rgb_ug RGB_SPD _______                                    &none   &kp K_PREV   &kp K_PP   &kp K_NEXT   &kp K_VOL_DN   &kp SLCK
                                                  &kp LGUI _______  &kp SPC                                           &kp ENT _______ &kp RALT
      >;
    };
    dvorak_layer {
      bindings = <

&kp ESC        &kp APOS    &kp COMMA &kp DOT    &kp P    &kp Y                                     &kp F    &kp G    &kp C    &kp R    &kp L &kp BSLH
&kp LCTL       &kp A       &kp O     &kp E      &kp U    &kp I                                     &kp D    &kp H    &kp T    &kp N    &kp S &kp FSLH
&mt SHIFT LPAR &kp SEMI    &kp Q     &kp J      &kp K    &kp X                                     &kp B    &kp M    &kp W    &kp V    &kp Z &mt SHIFT RPAR
                                &kp LGUI &lt L_LOWER TAB &kp SPC         &kp BSPC &lt L_RAISE ENT &kp LALT
      >;
    };
  };
};
